- model_class = Titulo
.row.grid
  .col-md-12
    = flash_message(@titulo)
    .panel.panel-piluku
      .panel-heading
        %h3.panel-title
          Visualização de Título de Capitalização :: Última Atualização: #{l(@titulo.updated_at, format: :short)}
          %span.panel-options
            %a.panel-minimize{:href => "#"}
              %i.icon.ti-angle-up
      .panel-body
        = render 'form'
