<div class="container">
   <div class="row">
      <div class="twelve columns">
         <div class="box_c">
            <div class="box_c_heading cf box_actions">
               <p>Visualização de Corretoras :: Última Atualização: <%= to_s_br(@corretora.updated_at) %> ::</p>
            </div>
            <%= render :partial => "form" %>
         </div> 
      </div>
   </div>
</div>
