<div class="container">
   <div class="row">
      <div class="twelve columns">
         <div class="box_c">
            <div class="box_c_heading cf box_actions">
               <p>Visualizar FAQ</p>
            </div>
            <%= render :partial => "form" %>
         </div> 
      </div>
   </div>
</div>
