#confirma{:style => "display: none; height: auto; padding-bottom: 54px; "}
  .row
    .col-md-12
      - if params[:tipo] == 'R'
        %div
          %center
            %b{:style => "font-size: 14px"}
              %big{:style => "color: red; font-weight: bold; font-size: 20px"}
                %u IMPORTANTE
              %br/
              %br/
              %br/
              Seguro para imóveis exclusivamente residenciais.
              %br/
              %br/
              Caso o imóvel não seja exclusivamente residencial, o seguro deve ser cadastrado através da opção de imóveis empresariais.
              %br/
              %br/
              %br/
              %br/
            %br/
            %br/
      - else
        %center
          %b{:style => "font-size: 14px"}
            %big{:style => "color: red; font-weight: bold; font-size: 20px"}
              %u IMPORTANTE
            %br/
            %br/
            As atividades abaixo são excluídas de aceitação para realização de seguro.
          %br/
          %br/
          %table.table.table-striped.table-bordered.table-hover
            %tbody
              %tr
                %td{:width => "50%"} Construção com predominância em madeira/palha ou telhado de madeira/palha.
                %td{:width => "50%"} Imóveis Tombados ou históricos.
              %tr
                %td Acetileno – Fábrica e Processamento
                %td Erva Mate – Depósito e Processamento.
              %tr
                %td Algodão – Abridores, descaroçadores, prensagem, batedores e semelhantes.
                %td Fogos de artifícios – Fábrica, Loja e Depósito.
              %tr
                %td Antiguidades – Loja e Depósito.
                %td Explosivo – Depósito e Fábrica.
              %tr
                %td Banca de jornal e resista.
                %td Gás – Depósito, Fábrica e Engarrafamento.
              %tr
                %td Boates, Casas de Shows, Cabarés e Similares.
                %td Inflamável – Fábrica e Depósito.
              %tr
                %td Carbureto de Cálcio – Fábrica e Depósito.
                %td Marcenarias e Serrarias.
              %tr
                %td Carvão mineral e vegetal – Depósito e Extração.
                %td Museus.
              %tr
                %td Cera animal e vegetal.
                %td Depósito de aparas de papel velho / reciclável.
              %tr
                %td Circos.
                %td Plantações.
              %tr
                %td Colchões – Fábrica, Lojas e Depósitos.
                %td Pólvora – Fábrica, Loja e Depósito.
              %tr
                %td Cortiça – Fábrica, Loja e Depósito.
                %td Sucata, ferro-velho, Resíduos e lixo.
              %tr
                %td Estopa – Fábrica, Loja e Depósito.
                %td Vime, Junco, Piaçaba, Juta e assemelhados.
      .float-right
        = link_to 'Estou ciente, Continuar.', new_seguro_path(tipo: @type[:id], mes: @mes), :class => "btn btn-primary"
      .float-left
        = link_to 'Voltar', 'javascript:retorna()', :class => "btn btn-default"
