- model_class = Seguro
.row.grid
  .col-md-12
    = flash_message(@seguro)
    .panel.panel-piluku
      .panel-heading
        %h3.panel-title
          Visualização de Seguros :: Última Atualização: #{l(@seguro.updated_at, format: :short)}  
          %span.panel-options
            %a.panel-minimize{:href => "#"}
              %i.icon.ti-angle-up
      .panel-body
        = render 'form'